#root {
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.App {
  /* background: linear-gradient(171.28deg, #F4F3F5 5.08%, #ECF0F5 92.18%); */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.App-header {
  align-items: center;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  /* position: fixed; */
  justify-content: center;
  align-items: center;
  /* display: flex; */
  margin: auto;
  /* width: 60%; */
  /* top: 30px; */
  color: black;
  height: 100px;
}
button.btnNewIssue {
  background-image: linear-gradient(to right, #7826A9, #2315CC);
  color: #ffff;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  height: 52px;
  width: 150px;
}
.getStarted {
  /* align-items: center; */
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  /* position: fixed; */
  top: 250px;
  /* margin: 0 auto; */
  /* line-height: 22px; */
  /* display: flex; */
  /* width: 60%; */
  /* justify-content: center; */
}
.topSection {
  display: flex;
}
.headerlogo {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 20px;
  top: 20px;
}
.navigation {
  position: fixed;
  top: 20px;
  left: 20px;
  color: black;
}
.imageCarousel {
  display: flex;
  width: 100%;
  /* height: 57px; */
  top: 152px;
  position: fixed;
}
.searchBox {
  width: 100%;
}
.chat-container {
  position: fixed;
  padding: 20px;
  top: 100px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #ffffff;
}
.chat-wrapper {
  position: relative;
  padding: 0px;
}
#root {
  padding: 0px;
}

.chat-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.message-list {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.customer-message {
  margin-bottom: 15px;
  background: #F4F6FD;
  color: #242424;
  padding: 12px;
  border-radius: 20px 20px 20px 0px;
}

.send-button {
  align-self: flex-end;
  margin-top: 8px;
}
.send-box-wrapper {
  position: absolute;
  bottom: 110px;
  margin: 0;
  padding: 0px;
}
textarea{
  box-shadow: 0px 1px 24px 0px rgba(141, 175, 237, 0.25), 0px 0px 2px 0px rgba(98, 124, 218, 0.40);
  border-radius: 20px;
}
.fhz96rm {
  border: none !important;
}
/* table changes */
table {
  width: 100%;
}

.content {
  background-color: #FFFFFF99;
  border-radius: 30px;
  box-shadow: 0px 1px 24px 0px #8DAFED1F;
  margin-bottom: 10px;
}

tr td {
  width: auto;
}


td img {
  vertical-align: middle; /* Align the image vertically */
  margin-right: 10px; /* Space between image and text */
}

.f1vdfbxk {
  width: 396px;
  height: 56px;
  gap: 0px;
  box-shadow: 0px 0px 2px 0px #627CDA66;
  box-shadow: 0px 1px 24px 0px #8DAFED40;
  border-radius: 4px;
  padding: 8px 12px 8px 12px !important;
}

.App {
  /* background-color: lightblue; */
}

.f1i3iumi {
  background-color: transparent !important;
}

